body {
    background-color: #003B75;
    font-family: 'Segoe UI', sans-serif;
}

.login-box {
    width: 100%;
    max-width: 400px;
    background-color: #e0e0e0;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.logo {
    width: 100px;
    height: auto;
}

.bg-ubb {
    background-color: #003B75;
}
